{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Список тендеров</h1>

{% for tender in tenders %}
    <div class="card">
        <h3>
            <a href="{% url 'tender_detail' tender.id %}">
                {{ tender.title }}
            </a>
        </h3>

        <p>{{ tender.description }}</p>
        <p><strong>Заказчик:</strong> {{ tender.customer.username }}</p>
        <p><strong>Срок подачи:</strong> {{ tender.deadline }}</p>
        <p><strong>Статус:</strong> {{ tender.status }}</p>
    </div>
{% empty %}
    <p>Тендеров пока нет.</p>
{% endfor %}
{% endblock %}